*{
  font-family:arial; 
}

html{
  height: 100%;
  /*overflow-y: hidden;*/
}

a{
  text-decoration: none;
}

body{
  height: 100%;
  margin: 0;
  background: radial-gradient(white, #41d29e00);
}

/*MENU*/
nav{
  background: linear-gradient(45deg, #08ae86, #46e1a6);
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: white;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

nav h3{
  padding: 15px 10px;
}

nav ul{
  display: flex;
  list-style-type: none;

}

nav ul li{
  padding: 0px 10px;
  color: white;
}

/*MENU END*/

#app{
  height: 100%;
}


.main {
  margin: auto;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 h3{
  font-size: 20px;
  margin: 0;
  font-weight: normal;
  padding:10px 0px;
}

.input {
  width: 100%;
  padding: 10px;
}

.submit-button {
  width: 400px;
  padding: 10px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container ul {
  width: 100%;
  list-style: none;
  padding: 0;
}

.main-container ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.book-name {
  font-size: 18px;
}

.book-description {
  max-width: 70%;
  font-size: 14px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.search-results{
  height: 100%;
}

.tab-anchor{
  height: 1px;
  position: absolute;
  top: -150px;
}

tabs-component{
  height: 100%;
}

.tabs-component{
  height: 100%;
}

.tabs-component-tabs{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.tabs-component-tab {
    background: #3dcd9b;
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    text-align: center;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

.tabs-component-tab:hover{
  background: radial-gradient(white,#46cc9c21)
}

.tabs-component-tab:hover a{
  color: #3dcd9b;
}

.tabs-component-tab a{
  color: white;
}

.results-list{
  position: relative;
  overflow-y: scroll;
  height: calc(100% - 200px);
  padding: 0px 20px;
}

.tabs-component-panel{
  height: 100%;
}

.tabs-component-panels{
	//padding: 0 30px;
  height: 100%;
}

.list-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  background: rgba(255,255,255,0.5);
  margin-bottom: 10px;
  color: black;
  border-bottom: 1px solid lightgrey;
}

.list-row:hover{
  background: #46cc9c82;
}

.button{
  padding: 10px;
  background: lightgrey;
  color: black;
  border-radius: 10px;
}

.movieDetail img{
  height: 300px;
}